<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
		<!-- MENSAJES -->
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable" th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>


	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay personas</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Persona</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th>Email</th>
						<th>Pais</th>
						<th>Tipo</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="persona : ${list}">
						<td th:text=${persona.nombre}></td>
						<td th:text=${persona.apellido}></td>
						<td th:text=${persona.direccion}></td>
						<td th:text=${persona.telefono}></td>
						<td th:text=${persona.email}></td>
						<td th:text=${persona.pais.nombre}></td>
						<td th:text=${persona.categoria.nomcat}>
						<td><a class="btn btn-info" th:href="@{/save/{id}(id=${persona.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>